@import "./globals";
@import "./index/experiencia";
@import "./index/cursos";

body {
   background-color: #000;
}

html {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-text;
  }
}




#particles-js {
  margin-top:198px;
  background-image:linear-gradient( rgba(0, 0, 0, 0.555),  rgba(0, 0, 0, 0.788)) ,url('../img/bg2.jpg');
  background-size:cover;
  background-position:center;
  > .phrase {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
    max-width:max-content;

  }

 > canvas {
    z-index:1;
  }

  
}

footer{
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
}